@page
@model TechBlog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    >@Model.Post.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title text-black-50">@Model.Post.Description</h5>
                    <div class="card-text">
                        @Html.Raw(Model.Post.Content)
                    </div>
                    <a asp-page="./Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary">Edit</a>
                    <a class="btn btn-outline-primary" asp-page="./Index">Back to List</a>

                </div>
                <div class="card-footer text-muted">
                    Date Posted : @Model.Post.DatePosted  <span>  Date Last Updated : @Model.Post.DateLastUpdated</span>
                </div>
            </div>
        </div>
   

    </div>


