@page "{id}"
@model TechBlog.ReadPostModel
@{
    ViewData["Title"] = "ReadPost";
}

@{ 
    var m = Model.Post;
}
<body>
        <br/>
        <div id="wrapper">
            <section class="section lb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="page-wrapper">
                                <div class="blog-title-area text-center">
                                    <ol class="breadcrumb hidden-xs-down">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                        <li class="breadcrumb-item active">@m.Title</li>
                                    </ol>

                                    <span class="color-orange"><a href="tech-category-01.html" title="">@m.Category</a></span>

                                    <h3>@m.Title</h3>

                                    <div class="blog-meta big-meta">
                                        <small><a href="tech-single.html" title="">@m.DatePosted</a></small>
                                        <small><a href="tech-author.html" title="">@m.author</a></small>
                                    </div><!-- end meta -->


                                </div><!-- end title -->

                                <div class="single-post-media">
                                    <img src="@m.BannerImageLink" alt="" class="img-fluid">
                                </div><!-- end media -->

                                <div class="blog-content">
                                    @Html.Raw(Model.Post.Content)
                                </div>

                            </div>
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="sidebar">

                                <partial name="_CategoriesPartial" />
                                <br />
                                <partial name="_RecentPostPartial" />
                            </div><!-- end sidebar -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                </div><!-- end container -->
            </section>
        </div>
        <div id="disqus_thread"></div>
        <script>

            //*
            //*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            //*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

            var disqus_config = function () {
            this.page.url = window.location.origin + '/Blog/ReadPost/?id=' + @m.Id;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = @m.Id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://whilsontech.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        <script id="dsq-count-scr" src="//whilsontech.disqus.com/count.js" async></script>
    </body>


