@page
@model TechBlog.Pages.Admin.MetricsModel
@{
}


<div class="container mt-4">
    <div class="row">
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem; background-color:darkorange">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">Total Post Count</h5>
                    <h1> @Model.ToTalPost </h1>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem; background-color:darkorange">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">Total Post Count</h5>
                    <h1> @Model.ToTalPost </h1>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem; background-color:red">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">Total Post Count</h5>
                    <h1> @Model.ToTalPost </h1>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem; background-color:dodgerblue">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">Total Post Count</h5>
                    <h1> @Model.ToTalPost </h1>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem; background-color:green">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">Total Post Count</h5>
                    <h1> @Model.ToTalPost </h1>
                </div>
            </div>
        </div>
      
    </div>
</div>
